.header, .hero, .body, .bar{
  background-color: aqua;
  margin-bottom: 10px;
}
.box{
  margin: 10px 0;
  min-height: 80px;
  background-color: brown;
  font-size: 30px;
  color: aqua;
}
.red{
  background-color: blue;
}